@font-face {
    font-family: 'hyper';
    src: url('fonts/HyperFatosRegular.otf') format('opentype');

}

@font-face {
    font-family: 'g1';
    src: url('fonts/aAnotherTag.otf') format('opentype');

}

@font-face {
    font-family: 'g2';
    src: url('fonts/docallismeonstreet.otf') format('opentype');

}
@font-face {
    font-family: 'g3';
    src: url('fonts/adrip1.ttf') format('opentype');

}

body {
    text-align: center;
    background: rgb(149,255,78);
    background: linear-gradient(90deg, rgba(149,255,78,1) 0%, rgba(51,255,112,1) 50%, rgba(0,255,58,1) 100%);
}

h1 {
    color: #000000;
    font-family: 'g2';
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 100;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.dice {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

img {
    width: 100px;
    margin: 0 10px;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}



.textin {
    border-radius: 10px;
    margin: 10px;
    border: #000000 solid 4px;
}


.inputgrid {
    display:grid;
    grid-template-columns: auto auto;
    
}



table{

    margin: auto auto auto auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}
table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #202d44;
}

table tbody tr:nth-of-type(even) {
    background-color: #007bff33;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #007bff;
}
