body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

h1 {
    color: #000000;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.dice {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

img {
    width: 100px;
    margin: 0 10px;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}



